
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%;
  background-color: #121212;  
  color: #eee;                
  font-family: 'Rubik', sans-serif !important; 
  font-size:17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.tilde-heading{
  font-size: 30px;
}
.tilde-heading::before {
  content: "~";
  color: lightpink;
  margin-right: 0.5rem;
  font-weight: bold;
}

.graytext{
  color:rgb(150, 149, 149);
}
